// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$map-height: 500px;
$stop-padding: 1em;

.nav-tabs a:active, .nav-tabs a:focus {
    outline: 0;
}

.tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd #ddd;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    padding: 1vh 1vw 3vh 1vw;
}

.tripTable {
    border: 1px solid black;

    & td {
        padding: 0 20px;
    }
}

.tripStops {
    height: $map-height;
    width: 100%;
}

.stops {
    border: 1px solid black;
    float: left;
    height: $map-height;
    overflow: auto;
    padding: $stop-padding;
    position: relative;
    text-align: center;
    width: 30%;
}

.stopsOptions {
    display: none;
}

.removeLastStop {
    margin: 10px 0;
}

.arrivalEqualsStart {
    margin-top: 3em !important;
}

.calculateRoute {
    bottom: $stop-padding;
    display: none;
    left: $stop-padding;
    position: absolute;
    width: calc(100% - 2 * #{$stop-padding});
}

.map {
    border: 1px solid black;
    float: left;
    height: $map-height;
    width: 70%;
}
