// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tripTable {
    border: 1px solid black;

    & td {
        padding: 0 20px;
    }
}

.trip-stops {
    width: 100%;
}

.stops {
    border: 1px solid black;
    float: left;
    height: 500px;
    overflow: auto;
    padding: 1em;
    width: 30%;
}

.stopsOptions {
    display: none;
}

.calculateRoute {
    display: none;
    margin-top: 30px;
}

.map {
    border: 1px solid black;
    float: left;
    height: 500px;
    width: 70%;
}
